@font-face {
  font-family: 'Minecraft';
  font-style: normal;
  font-weight: 400;
  src: local('Minecraft'), url('/Minercraftory.ttf') format('woff');
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji',
    sans-serif;
  /* color-scheme: light dark; */
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  line-height: 1.4;
  /* font-size: 1.3rem; */
  word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: hsl(0, 0%, 15%);
    --background: hsl(0, 0%, 13%);
    --background-alt: hsl(0, 0%, 10%);

    --button-base: hsl(0, 0%, 10%);
    --button-hover: hsl(0, 0%, 5%);
  }
}
body {
  margin: auto;
  padding: 0px;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

#app {
  padding: 1rem 2rem;
  margin: auto;
  max-width: 900px;
  overflow: visible;
}

img {
  vertical-align: middle;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 95%;
  height: auto;

  /* background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(70, 70, 70, 0.2); */
}
